/*Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    scroll-behavior: smooth;
    /* Enable smooth scrolling effect */
}

/* 
    Basic properties of an element:
        >position
        >size
        >color
        >shape(typo, geometry shape)
*/


/* Common class */

.center{
    text-align: center;
}

.col{
float: left;
}

.row{
    margin-left: -8px;
    margin-right: -8px;

}


.col-3{
    width: 33.33333%;
}

.col-2{
    width: 50%;
}

.col-1{
    width: 100%;
}

.p-8{
    padding: 8px;
}

/* End common class */

/* Common button */
.b-Hg{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.b-Hg:hover{
    background-color: #ccc !important;
    color: black !important;
}

/* End common button */

/* Common padding */

.padding-32{
    padding: 32px 8px;
}

.padding-64{
    padding: 64px 16px;
}

/* End common padding */




#header{
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    background-color: black;
    z-index: 1;
    /* overflow: hidden; */
}

/* Navigation */
#nav > li{
    display: inline-block;
    position: relative;
}

#header #nav {
    display: inline-block;
}

#nav li a{
    display:block;
    height: 100%;
    text-decoration: none;
    line-height: 45px;
    padding: 0 24px;
}

#nav > li > a{
    text-transform: uppercase;
    color: #fff;
}

#nav > li:hover > a,
#nav .subNav li:hover a{
    background-color: #ccc;
    color: #000;
}

#nav .subNav{
    display: none;
    position: absolute;
    top: 100%;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    list-style-type: none;
}

#nav li:hover .subNav{
    display: block;
}


#nav .subNav a{
    color: black; 
    padding: 0 0 0 30px;
    line-height: 38px;
}



/* End navigation */
#header #menuBar,
#header #searchBar{
float: right;
line-height: 45px;
padding: 0 22px;
color: white;
}

#header #menuBar{
    display: none;
}

#header #searchBar:hover{
    background-color: #f44336;
}


.slider{
    position: relative;
    margin-top: 45px;
    padding-top: 48%;
    /* When set percentage unit to padding, its take the parent's width as the source */
    background:  top center / cover no-repeat;
}

.slider .slider-intro{
    position: absolute;
    color: white;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    /* Another way for centerlize */
    /* 1 */
    /* width: 100%; */
    /* 2 */
    /* left: 0;
    right: 0; */
    text-align: center;
    line-height: 50px;
}


.slider .slider-title{
    font-weight: 100;
    font-size: 24px;

}
.slider .slider-intro .slider-content{
    font-size: 15px;
    text-shadow: 2px 2px 8px;

}

.content-wrapper{
    width: 800px;
    max-width: 100%;
    background-color: white;
    padding: 64px 18px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}


#tour ,
#contact{
    width: 50rem;
}

#content .content-title{
    text-align: center;
}

#content .content-heading{
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
} 
#content .content-subheading{
    margin: 15px 0;
    font-size: 15px;
    font-style: italic;
    margin: 20px 0 ;
    opacity: 0.5;

}
#content #content-description{
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

#content #band-member{
    display: inline-block;
    padding: 32px 0;
    text-align: center;


}


#content .mem-name{
    margin: 15px 0;  
}

#content .mem-img{
    width: 60%;
    margin: 0 0 15px;
    opacity: 0;
    transition-duration: 1000ms;
}

#content .background-container,
#content .background-container .content-wrapper{
    background-color: #000;
    color: white
}



#tour-date-wrapper{
    width: 100%;
    list-style-type: none;
    text-align: left;
    background: white;
    color: black;
    border: 1px solid #ccc;
}

#tour-date-wrapper .tour-date{
    padding: 8px 16px ;
    border-bottom: 1px solid  #ddd;

}


#tour-date-wrapper .tour-date .ticket-soldout{
    display: inline-block;
    font-size: 14px;
    padding: 5px 8px;
    margin-left: 16px;
    background-color: #f44336;
    color: white;
    
}

#tour-date-wrapper .tour-date .ticket-avail{
    padding: 0 8px;
    margin-right: 16px;
    float: right;
    background-color: black;
    color: white;
    border-radius: 50%;

}


#content #destination-wrapper{
    padding: 32px 0px;

}

#content #destination-wrapper .destination-container{
    padding: 0 8px;
    margin-bottom: 16px;
    background-color: white;
    color: black;
    background-clip: content-box;


}


.clear{
    clear: both;
}


#content #destination-wrapper .destination-container .city-pic{
    width: 100%;
}

#destination-wrapper .destination-container .destination-content{
    padding: 0.15px 16px;

}

.destination-container .destination-content>*{
    margin: 15px 0;
}

.destination-container .destination-content > p:nth-child(2){
    color: grey;
}


.destination-container .destination-content .buy-tickets{
    margin-bottom: 16px;
    padding: 8px 16px;
}

.contact-section{
    display: table;
    width: 100%;
    padding: 32px 0 ;
    font-size: 18px;
}

.contact-info{
    text-align: start;
    line-height: 1.4;
}

/* Select class with "fa" */
.contact-info i[class*="fa"]{
    display: inline-block;
    width: 30px;
    padding: 8px 0;
}

.form__first-row, .form__second-row{
    margin: 0 -16px;
}

.form__second-row{
    margin-top: 8px;
}


.form-control .form-row{
    padding: 0 16px;
}



.form-control .form-input{
    width: 100%;
    padding: 8px 8px;
    margin: 1px 1px;
}

.form-control input[type="submit"]{
    float: right;
    margin-top: 8px;
    padding: 8px 16px;
}

#map{
    position: relative;
    margin-top: 45px;
    padding-top: 48%;
    /* When set percentage unit to padding, its take the parent's width as the source */
    background: url("../img/map.jpg") top center / cover no-repeat;
    filter: grayscale(50%);
}

footer{
    background-color: #f1f1f1;
    color: grey !important;
}

footer>a{
    margin: 0 8px;
}


footer> a > i{
    font-size: 24px;
    color: black;
    opacity: 0.7;
}

footer> a:hover{
    opacity: 0.5;
}

footer>p{
    margin: 20px 0;
}



/* Responsive mobile */
@media (max-width:740px){

    #nav > li{
        display: block;
        position: relative;
    }

    #header{
        overflow: hidden;
    }

    /* Hide searchbar in mobile screen */
    #header #searchBar{
        display: none;
    }

    #header #menuBar{
        display: inline-block;
    }

    #header #nav{
        display: block;
    }

    #header #nav li:first-child{
        display: inline-block;
    }

    #nav .subNav{
        /* set initial value */
        position: initial;
        background-color: lightgray;
    }

    #nav .subNav a {
        color: white;
        padding: 5px 0 5px 30px;
    }

    /* Set menu bar ontop nav block */
    #header #menuBar{
        position: absolute;
        top: 0;
        right: 0;
    }


    /* Responsiv column */
    .s-col-full{
        width: 100%;
    }

    .s-full-width{
        width: 100%;
    }


    .form-control{
        margin-top: 24px;
    }

    .destination-container .destination-content .buy-tickets{
        text-align: center;
    }





} /* End responsive mobile */





